{% extends 'base.html' %}

{% load static %}
{% block css %}
<link href="{% static 'myapp/styles/gamestyle.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Typing Game</h1>
<div id="snippet"></div>
<div id="typed"></div>
<div id="remaining"></div>
<div id="result"></div>
<script>
    let typedText = '';
    let snippetText = '';

    const socket = new WebSocket(
        'ws://' + window.location.host + '/ws/typing/'
    );

    socket.onopen = function() {
        console.log('WebSocket connection established');
    };

    socket.onmessage = function(event) {
        console.log('Received message:', event.data);
        let data = JSON.parse(event.data);

        if (data.game_over) {
            document.getElementById('snippet').innerText = 'Game Over! You have completed all snippets.';
            document.getElementById('remaining').innerText = '';
            document.getElementById('typed').innerText = '';
            document.getElementById('result').innerText = '';
            document.removeEventListener('keydown', keydownHandler);
        } else if (data.remaining_text) {
            snippetText = data.remaining_text.toLowerCase();
            document.getElementById('snippet').innerText = snippetText;
            document.getElementById('remaining').innerText = snippetText;
            typedText = '';
            document.getElementById('typed').innerText = '';
            document.getElementById('result').innerText = data.is_correct ? 'Correct!' : '';
        } else {
            document.getElementById('typed').innerText = data.typed_text;
            document.getElementById('remaining').innerText = data.remaining_text;
            document.getElementById('result').innerText = data.is_correct ? 'Correct!' : '';
        }
    };

    socket.onerror = function(error) {
        console.log('WebSocket error:', error);
    };

    const keydownHandler = (event) => {
        let key = event.key;

        if (key.length === 1 && /[a-zA-Z0-9 ,;.]/.test(key)) {
            if (typedText.length < snippetText.length && key.toLowerCase() === snippetText[typedText.length]) {
                typedText += key.toLowerCase();
            }
        } else if (key === 'Backspace') {
            typedText = typedText.slice(0, -1);
        } else if (key === 'Enter') {
            event.preventDefault();
        }

        let message = JSON.stringify({
            'typed_text': typedText,
            'snippet_text': snippetText
        });

        if (socket.readyState === WebSocket.OPEN) {
            console.log('Sending message:', message);
            socket.send(message);
        } else {
            console.error('WebSocket is not open. Current state:', socket.readyState);
        }
    };

    document.addEventListener('keydown', keydownHandler);

    socket.onclose = function(event) {
        console.log('WebSocket closed with code:', event.code, 'and reason:', event.reason);
    };
</script>
{% endblock %}
