{% extends 'base.html' %}

{% load static %}
{% block css %}
<link href="{% static 'myapp/styles/gamestyle.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class='game_container'>
    <div class='game_content'>
        <h1>Typing Game <span id="score">0</span> </h1>
        <div><button id="start_btn">Play</button></div>
        <div id="snippet"></div>
        <div id="typed"></div>
        <div id="remaining"></div>
        <div id="result"></div>
    </div>
</div>
<script>
    let score = document.getElementById('score');
    let snippet = document.getElementById('snippet'); 
    let remaining = document.getElementById('remaining'); 
    let typed = document.getElementById('typed');
    let result = document.getElementById('result');
    let start_btn = document.getElementById('start_btn');
    let socket;

const startGame = () =>{
    socket = new WebSocket('ws://' + window.location.host + '/ws/typing/');

    socket.onopen = function() {
        console.log('WebSocket connection established');
        socket.send(JSON.stringify({
            'action': 'start',
            'player_score' : 0,
        }));
    };

    socket.onmessage = function(event) {
        console.log('Received message: FROM THE SOCKET \n', event.data);
        let data = JSON.parse(event.data);

        document.addEventListener('keydown', keydownHandler);
        if (data.game_over) {
            document.removeEventListener('keydown', keydownHandler);
            snippet.innerHTML ='Game Over! You have completed all snippets.';
            remaining.innerHTML ='';
            start_btn.style.display = 'inline';
        }else{
            snippet.innerHTML = data.snippet_text;
            typed.innerHTML = data.typed_text;
            remaining.innerHTML = data.remaining_text;
        } 
        if (data.is_correct ){
            typed.innerHTML ='';
            result.innerHTML ='';
            score.innerHTML =data.player_score;
        }
    };

    socket.onclose = function(event) {console.log('WebSocket closed with code:', event.code, 'and reason:', event.reason);};
    socket.onerror = function(error) {console.log('WebSocket error:', error);};
};

const keydownHandler = (event) => {
        let key = event.key;

        if ( /[a-z ]/.test(key) ) {
            if (key === snippet.innerText[typed.innerHTML.length]) {
                typed.innerHTML +=  key;
                result.innerText = '';
                remaining.innerHTML = snippet.innerHTML.slice(typed.innerHTML.length);
            } else {
                result.innerText = 'Incorrect key pressed!';
            }
        }
        else if (key === 'Backspace') {
            if (typed.innerHTML.length > 0) {
                typed.innerHTML = typed.innerHTML.slice(0, -1);
                remaining.innerHTML = snippet.innerHTML.slice(typed.innerText.length);
            }
        }

        let message = JSON.stringify({
            'snippet_text':snippet.innerHTML,
            'typed_text': typed.innerHTML,
            'remaining_text': remaining.innerHTML,
        });
        
        if (socket.readyState === WebSocket.OPEN) {
            console.log('Sending message: TO THE SOCKET \n', message);
            socket.send(message);
        } else {
            console.error('WebSocket is not open. Current state:', socket.readyState);
        }
};

const StartNewGame = () => {
        start_btn.style.display = 'none';
        startGame();
};

    document.addEventListener('click', StartNewGame);
</script>
{% endblock %}
